build/
.settings/
/bin/
.gradle/
.DS_Store/
.DS_Store
/.classpath
/.project
/analyzed-example-data.zip
/analyzed-example-data
.ipynb_checkpoints
output.json
/request.log
/analyzed-delta-example-data.zip
/analyzed-delta-example-data/
